.container{
    display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
}

.form input {
    margin-top: 5px;
    height: 20px;
}

button {
    margin-top: 5px;
}

.label input {
    vertical-align: middle;
}
.label label{
    vertical-align: middle;
}

button{
    cursor: pointer;
}
